<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="a8e36991-280b-442b-92ab-5560ccf56694" Alias="anotherCloudflareStreamVideo" Level="1">
  <Info>
    <Name>Another Cloudflare Stream Video</Name>
    <Icon>icon-cloud-upload color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>224f7d7b-c8b4-4755-afed-6ec594cadd61</Key>
      <Name>Umbraco File</Name>
      <Alias>umbracoFile</Alias>
      <Definition>718936c7-6da5-45ca-beb4-ed975de04dd1</Definition>
      <Type>CloudflareStreamMedia</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>22d7f155-856d-4379-be71-43c0df4f4e4c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>