<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="436a6dc6-960e-4190-aed8-e43c217500df" Alias="cloudflareStreamVideo" Level="1">
  <Info>
    <Name>Cloudflare Stream Video</Name>
    <Icon>icon-cloud-upload color-orange</Icon>
    <Thumbnail>icon-video</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>c5d840b7-db76-449e-a4bc-970084ab80ed</Key>
      <Name>Video</Name>
      <Alias>umbracoFile</Alias>
      <Definition>718936c7-6da5-45ca-beb4-ed975de04dd1</Definition>
      <Type>CloudflareStreamMedia</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/video">Video</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>9a1ec24b-7c8f-4467-88fe-40637450d25d</Key>
      <Caption>Video</Caption>
      <Alias>content/video</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d67b1c21-109d-4e74-b07a-a1cb41e29b96</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>