<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="b2cf8254-ffea-4cc7-a99e-bfcc8a7dad7a" Alias="cloudflareStreamVideoFolder" Level="1">
  <Info>
    <Name>Cloudflare Stream Video Folder</Name>
    <Icon>icon-folder color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="436a6dc6-960e-4190-aed8-e43c217500df" SortOrder="0">cloudflareStreamVideo</MediaType>
    <MediaType Key="a8e36991-280b-442b-92ab-5560ccf56694" SortOrder="1">anotherCloudflareStreamVideo</MediaType>
  </Structure>
  <Tabs />
</MediaType>