<?xml version="1.0" encoding="utf-8"?>
<Media Key="56d43d14-6d6e-4fb4-a263-57541c7778e1" Alias="File Example Mp4 480 1 5Mg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FileExampleMp448015Mg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-08-12T12:12:38</CreateDate>
    <NodeName Default="File Example Mp4 480 1 5Mg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hq4nivto/file_example_mp4_480_1_5mg.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>