<?xml version="1.0" encoding="utf-8"?>
<Media Key="7aa3464c-28d2-4bb3-be52-82bc9bf326ac" Alias="Samplevideo 1280X720 20Mb (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Samplevideo1280X72020Mb1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-08-12T16:12:59</CreateDate>
    <NodeName Default="Samplevideo 1280X720 20Mb (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mrdkg4ws/samplevideo_1280x720_20mb.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>