<?xml version="1.0" encoding="utf-8"?>
<Media Key="509fb75a-1821-4b90-b558-750c306c3dfc" Alias="Samplevideo 1280X720 20Mb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Samplevideo1280X72020Mb</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-08-12T13:48:06</CreateDate>
    <NodeName Default="Samplevideo 1280X720 20Mb" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ok1j4ubb/samplevideo_1280x720_20mb.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>