<?xml version="1.0" encoding="utf-8"?>
<DataType Key="718936c7-6da5-45ca-beb4-ed975de04dd1" Alias="Cloudflare Stream Video Upload" Level="1">
  <Info>
    <Name>Cloudflare Stream Video Upload</Name>
    <EditorAlias>CloudflareStreamMedia</EditorAlias>
    <EditorUIAlias>ReadingRoom.Umbraco.CloudflareStream.Ui</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "deleteAfter": 30,
  "requiresignedurls": false
}]]></Config>
</DataType>