<?xml version="1.0" encoding="utf-8"?>
<DataType Key="718936c7-6da5-45ca-beb4-ed975de04dd1" Alias="Cloudflare Stream File upload" Level="1">
  <Info>
    <Name>Cloudflare Stream File upload</Name>
    <EditorAlias>CloudflareStreamMedia</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Missing</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "deleteAfter": 30,
  "GetDeleteAfter": "30.00:00:00",
  "requiresignedurls": false
}]]></Config>
</DataType>