<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d79ec3d-7c51-4f5e-825e-fd73e5e34462" Alias="Cloudflare Stream Video Picker" Level="1">
  <Info>
    <Name>Cloudflare Stream Video Picker</Name>
    <EditorAlias>CloudflareStreamMediaPicker</EditorAlias>
    <EditorUIAlias>Cloudflare.Stream.MediaPicker.UI</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "436a6dc6-960e-4190-aed8-e43c217500df"
}]]></Config>
</DataType>