<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7459e7e-df43-43a5-8c36-ee528f3cfdc7" Alias="Video Picker" Level="1">
  <Info>
    <Name>Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "436a6dc6-960e-4190-aed8-e43c217500df,f6c515bb-653c-4bdc-821c-987729ebe327",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2026-03-13T17:18:15.033944\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>