<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d79ec3d-7c51-4f5e-825e-fd73e5e34462" Alias="Cloudflare Stream Media Picker" Level="1">
  <Info>
    <Name>Cloudflare Stream Media Picker</Name>
    <EditorAlias>CloudflareStreamMediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": null,
  "EnableLocalFocalPoint": false,
  "Filter": "cloudflareStreamVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>