<?xml version="1.0" encoding="utf-8"?>
<DataType Key="718936c7-6da5-45ca-beb4-ed975de04dd1" Alias="Cloudflare Stream File upload" Level="1">
  <Info>
    <Name>Cloudflare Stream File upload</Name>
    <EditorAlias>CloudflareStreamMedia</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "DeleteAfter": 30,
  "Expiry": null,
  "GetDeleteAfter": "30.00:00:00",
  "GetExpiry": null,
  "RequiresSignedUrls": false
}]]></Config>
</DataType>