<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7459e7e-df43-43a5-8c36-ee528f3cfdc7" Alias="Video Picker" Level="1">
  <Info>
    <Name>Video Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "cloudflareStreamVideo,umbracoMediaVideo",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>