<?xml version="1.0" encoding="utf-8"?>
<Content Key="45328e1b-24e7-4c80-b004-9927a6b71abb" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-03-19T18:19:38</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e10f8fd-643e-428e-91ef-b503edb9d861">Home</Template>
  </Info>
  <Properties>
    <betterPicker>
      <Value><![CDATA[[]]]></Value>
    </betterPicker>
    <genericMediaPicker>
      <Value><![CDATA[[]]]></Value>
    </genericMediaPicker>
    <poster>
      <Value><![CDATA[[]]]></Value>
    </poster>
    <video>
      <Value><![CDATA[[]]]></Value>
    </video>
  </Properties>
</Content>